.currency {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;

  &__field {
    padding: 5px;
    font-size: 25px;
  }
}

.main-button {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 200px;
}