.buttons {
  text-align: center;
}

table {
  margin-bottom: 20px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__button {
    border-radius: 50%;
    outline: none !important;

    &--active {
      background-color: aqua;
    }
  }
}