<div class="modal-window" [ngClass]="{'modal-window--visible': exchangeService.modalWindowIsShown}">
  <h2 class="modal-window__title">Rates calculator</h2>
  <form class="form" [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
    <select class="form__control" name="currency" formControlName="selectFrom" id="CurrencyFrom">
      <option value="" disabled selected>Select rate from</option>
      <ng-container *ngFor="let item of exchangeService.currenciesFrom">
        <option *ngIf="item !== selectTo.value" value={{item}}>{{item}}</option>
      </ng-container>
    </select>
    <select class="form__control" name="currency" formControlName="selectTo" id="CurrencyTo">
      <option value="" disabled selected>Select rate to</option>
      <ng-container *ngFor="let item of exchangeService.currenciesTo">
        <option *ngIf="item !== selectFrom.value" value={{item}}>{{item}}</option>
      </ng-container>
    </select>
    <button [disabled]="!selectFrom.value || !selectTo.value">Submit</button>
  </form>
  <table class="table" *ngIf="exchangeService.lastRate.rate">
    <tr>
      <th>{{exchangeService.lastRate.from}}</th>
      <th>VS</th>
      <th>{{exchangeService.lastRate.to}}</th>
    </tr>
    <tr>
      <td colspan="3" class="table__cell table__cell--center">List of latest <strong>{{exchangeService.latestSameRates.length}}</strong> results</td>
    </tr>
    <tr *ngFor="let item of exchangeService.latestSameRates">
      <td colspan="3" class="table__cell table__cell--center">{{item.date}} <strong>{{item.rate}}</strong></td>
    </tr>
  </table>
  <div class="buttons">
    <button class="modal-window__close" (click)="close()"></button>
    <button (click)="toResults()">To results</button>
  </div>
</div>
